@media (min-width: 992px) and (max-width: 1300px){
    #a1{
        margin-left: 0%;
    }
    .s11 .p4{
        width: 50%;
    }
}

@media (min-width: 769px) and (max-width: 991px){
    #container1{
        height: 650px;
    }
    #col1 h1{
        font-size: 150px;
        margin-left: 0%;
    }
    #col1 p{
        width: 60%;
    }
    .img3{
        height: 400px;
        width: 100%;
    }
    .img4{
        height: 400px;
        width: 100%;
    }
    .img5{
        height: 400px;
        width: 100%;
    }
    .s7{
        margin-left: 5%;
    }
    .s11 .p4{
        width: 60%;
    }
    .img7{
        height: 500px;
    }
    .img8{
        height: 500px;
    }
    .img9{
        height: 500px;
    }
}

@media (min-width: 577px) and (max-width: 768px){
    #container1{
        height: 600px;
    }
    #col1 h1{
        font-size: 100px;
        margin-left: 0%;
        margin-top: 15%;
    }
    #col1 img{
        width: 60%;
        left: 20%;
    }
    #col1 p{
        width: 80%;
    }
    .s5{
        width: 100%;
        margin-top: 30px;
    }
    .s6{
        width: 100%;
        margin-top: 30px;
    }
    .s7{
        width: 100%;
        margin-top: 30px;
    }
    #col5{
        position: relative;
        top: 250px;
    }
    #col6{
        position: relative;
        top: -400px;
    }
    .s7{
        margin-left: 0%;
    }
    .s11 .p4{
        width: 70%;
    }
    .img7{
        height: 450px;
    }
    .img8{
        height: 450px;
    }
    .img9{
        height: 450px;
    }
}

@media (min-width: 0px) and (max-width: 576px){
    #container1{
        height: 600px;
    }
    #col1 h1{
        font-size: 50px;
        margin-left: 0%;
        margin-top: 25%;
    }
    #col1 img{
        height: 45%;
        width: 60%;
        left: 20%;
    }
    #col1 p{
        width: 80%;
    }
    .s5{
        width: 100%;
        margin-top: 30px;
    }
    .s6{
        width: 100%;
        margin-top: 30px;
    }
    .s7{
        width: 100%;
        margin-top: 30px;
    }
    .img3{
        height: 400px;
    }
    .img4{
        height: 400px;
        left: 5%;
    }
    .img5{
        height: 400px;
    }
    #col5{
        position: relative;
        top: 250px;
    }
    #col6{
        position: relative;
        top: -400px;
    }
    .s7{
        margin-left: 0%;
    }
    .s11 .p4{
        width: 80%;
    }
    .img7{
        height: 400px;
    }
    .img8{
        height: 400px;
    }
    .img9{
        height: 400px;
    }
}